<div class="footer">
  <div class="row">
    <div class="col-4">
      <strong><p>Contact Us</p></strong>
      <strong><p>+56 9 9240 6914</p></strong>
      <a href="#" class="footer-links"><strong><p>handdy@team.com</p></strong></a>
    </div>
    <div class="col-4">
      <a href="#" class="social-media"><i class="fab fa-github mx-1"></i></a>
      <a href="#" class="social-media"><i class="fab fa-instagram mx-1"></i></a>
      <a href="#" class="social-media"><i class="fab fa-facebook mx-1"></i></a>
      <a href="#" class="social-media"><i class="fab fa-twitter mx-1"></i></a>
      <a href="#" class="social-media"><i class="fab fa-linkedin mx-1"></i></a>
    </div>
    <div class="col-4">
      <a href="#" class="footer-links"><strong><p>FAQ</p></strong></a>
      <a href="#" class="footer-links"><strong><p>Privacy Policy</p></strong></a>
      <a href="#" class="footer-links"><strong><p>Terms & Conditions</p></strong></a>
    </div>
  </div>
