.how-it-works{
  margin-top: 40px;

  img{
    width: 250px;
    height: auto;
  }

  h4{
    margin-top: 25px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
  }
}
