.mapboxgl-popup-content {
  text-align: center;
  position: relative;
  background: #fff;
  border-radius: 15px;
  pointer-events: auto;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.info-window {
  img {
    margin: 0px auto 10px;
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #F4E1A6; //#fff
    object-fit: cover;
  }

  a:focus-visible {
    outline: none;
  }
}
