.profile-card {
  // box-shadow: 3px 3px 10px grey;
  // border-radius: 5px;
  // padding: 8px;
  // margin-bottom: 30px;

  img {
    height: 200px;
    box-shadow: 3px 3px 10px grey;
    margin: 18px;
    border-radius: 30px;
  }
}


.linea {
  height: 3px;
  width: 100%;
  background-color: #F4E1A6;
  margin: 20px 0px 10px 0px;
}
